conformer==0.3.2
diffusers==0.29.0
einops==0.8.2
fastapi==0.141.1
faster-whisper==1.2.1
HyperPyYAML==1.2.3
inflect==7.3.1
modelscope==1.20.0
numpy==1.26.4
omegaconf==2.3.0
onnxruntime==1.23.2
openai-whisper==20231117
protobuf==4.25.0
pyopenjtalk-plus==0.4.1.post9
scipy==1.15.3
soundfile==0.12.1
tiktoken==0.14.0
transformers==4.51.3
uvicorn==0.54.0
x-transformers==2.11.24
